body {
  font-family: 'Open Sans';
  background: #eee;
}
a,
h1 {
  color: #377ba8;
}
h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1 {
  border-bottom: 2px solid #eee;
}
h2 {
  font-size: 1.2em;
}

.page {
  margin: 2em auto;
  width: 35em;
  border: 5px solid #ccc;
  padding: 0.8em;
  background: white;
}
.entries {
  list-style: none;
  margin: 0;
  padding: 0;
}
.entries li {
  margin: 0.8em 1.2em;
}
.entries li h2 {
  margin-left: -1em;
}
.add-entry {
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
}
.add-entry dl {
  font-weight: bold;
}
.metanav {
  text-align: right;
  font-size: 0.8em;
  padding: 0.3em;
  margin-bottom: 1em;
  background: #fafafa;
}
.flash {
  background: #cee5f5;
  padding: 0.5em;
  border: 1px solid #aacbe2;
  margin-bottom: 3px;
}
.notif {
  background: #cef5e0;
  padding: 0.5em;
  border: 1px solid #b3d3c2;
  margin-bottom: 3px;
}
.error {
  background: #f0d6d6;
  padding: 0.5em;
}

.post-price {
  float: right;
  color: #377ba8;
}

.post-desc {
  display: block;
}

.no-bids {
  --no-bid-color: rgb(88, 206, 77);
  display: inline-block;
  border: 2px solid var(--no-bid-color);
  border-radius: 18px;
  padding: 10px 8px 8px 8px;
  color: var(--no-bid-color);
  margin-top: 5px;
}
