:root {
  --themeColor: #59b2e6;
  --themeColorOp: #c4e0f7;
  --themeBg: #f1f8ff;
  --themeGrey: #879db8;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--themeBg);
}
h1, h2 {
  margin: 0px;
}

.subheader {
  font-size: 2.3em;
  padding-left: 15px;
  padding-top: 15px;
  color: var(--themeGrey);
}

h3 a {
  text-decoration: none;
  font-size: 1.3em;
  color: var(--themeColor);
}
.delete_post i {
  color: var(--themeColor);
  opacity: 0.5;
}
h3 .delete_post:hover {
  opacity: 1;
}

.pagetitle, .pagetitle a {
  font-size: 2em;
  text-align: center;
  color: var(--themeColor);
  text-decoration: none;
  font-weight: bolder;
}

.subtitle {
  text-align: center;
  color: var(--themeColor);
  font-style: italic;
  font-weight: bold;
  padding-right: 10px;
  margin: 0em 0em 1em 0em;
}
.menubar {
  position: sticky;
  top: 0px;
  background-color: #ffffffee; 
}
.page {
  margin: 1.2em auto;
  width: 35em;
  border: 10px solid var(--themeColorOp);
  padding: 1em;
  background: white;
}
.entries {
  list-style: none;
  margin: 0;
  padding: 0;
}
.entries li {
  margin: 0.8em 1.2em;
}
.entries li h2 {
  margin-left: -1em;
}
.add-entry {
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
}
.add-entry dl {
  font-weight: bold;
}
.metanav {
  text-align: right;
  font-size: 0.8em;
  padding: 0.3em;
  border: 2px solid #e0e0e0;
  background: #fafafa;
  margin-bottom: 1em;
}
.flash {
  background: #cee5f5;
  padding: 0.5em;
  border: 1px solid #aacbe2;
  margin-bottom: 3px;
}
.notif {
  background: #cef5e0;
  padding: 0.4em 1em 0.4em 1em;
  border: 1px solid #b3d3c2;
  margin-bottom: 5px;
  border-radius: 10px;
}
.dismiss {
  float: right;
  color: #2c2c2c;
  opacity: 0.5;
}
.dismiss:hover {
  opacity: 1;
}
.error {
  background: #f0d6d6;
  padding: 0.5em;
}

.post-title, .post-title a {
  color: var(--themeColor);
  font-size: 1.4em;
  text-decoration: None;
  padding-left: 10px;
  display: inline;
}

.post-price {
  font-size: 1.2em;
  color: var(--themeColor);
}

.post-desc {
  display: block;
  color: var(--themeGrey);
  font-style: italic;
}

.post-user {
  font-weight: bold;
  color: var(--themeGrey);
}
.no-bids {
  --no-bid-color: rgb(88, 206, 77);
  display: inline-block;
  border: 2px solid var(--no-bid-color);
  border-radius: 20px;
  padding: 6px 12px 5px 12px;
  color: var(--no-bid-color);
  margin-top: 5px;
}

.logged-in-user {
  float: left;
}

.menubutton {
  margin-left: 3px;
  text-decoration: None;
}

.accepted-tag {
  color: var(--themeGrey);
  font-weight: bold;
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
margin-bottom: 0; }