<!doctype html>
<title>StuffShare App</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class=page>
  <div class=menubar>
    <h1>
      <a href="{{ url_for('show_posts') }}">stuffshare</a>
    </h1>
    <div class=metanav>
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
      <a href="{{ url_for('signup') }}">sign up</a>
      {% else %}
      <span class=logged-in-user>Logged in as: {{ session.name }}</span>
      <a class=menubutton href="{{ url_for('show_user_posts', user_email = session.user_email) }}">My posts</a>
      <a class=menubutton href="{{ url_for('editprofile') }}">Edit Profile</a>
      <a class=menubutton href="{{ url_for('logout') }}">Logout</a>
      {% endif %} </div> {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %} {% if notifications and session.logged_in %} {% for notification in notifications %}
    <div class=notif>{{ notification['message'] }}
      <a href="{{ url_for('post_detail', id=notification['post_id']) }}">
        <b>{{ notification['title'] }}</b>.</a>
      <a class=dismiss href="{{ url_for('delete_notification', bidder=notification['bidder'], post_id=notification['post_id']) }}">
        <i class="material-icons">close</i>
      </a>
    </div>
    {% endfor %} {% endif %}
  </div>

  {% block body %}{% endblock %}
</div>