{% extends "layout.html" %} {% block body %} {% set flag = namespace(made_bid=false, my_post=false) %} {% if session.logged_in
and session.user_email == post.user_email %}{% set flag.my_post = true %}{% endif %}
<ul class=entries>
    <li>
        <h2 class=post-title>
            <a>{{ post.title }}</a>
        </h2>
        <span class=post-price>${{ post.price }}</span>
        <div class=post-user>{{ post.name }}</div>
        <div class=post-desc>
            {{ post.description|safe }}
        </div>
        {% if flag.my_post is sameas true %}
        <a href="{{ url_for('delete_post', user_email = post.user_email, post_id = post.id) }}">
            <button>Delete post</button>
        </a>
        {% endif %}
    </li>
</ul>
<p>Bids:</p>
{% if bids %}
<ul>{% for bid in bids %}
    <li>{{ bid.name }} offered {{ bid.offer }}. {% if session.logged_in and session.user_email == bid.user_email %} {% set flag.made_bid=true
        %}
        <a href="{{ url_for('delete_bid', user_email = bid.user_email, post_id = bid.post_id) }}">
            <button>Delete my bid</button>
        </a>
        {% endif %} {% if flag.my_post is sameas true %} {% if accepted_bidder and accepted_bidder == bid.user_email %}
        <br>
        <span class=accepted-tag>You've accepted this bid. </span>{% else %}
        <a href="{{url_for('accept_bid', bidder_email = bid.user_email, post_id = bid.post_id)}}">
            <button>Accept this bid</button>
        </a>
        {% endif %} {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<em>No current bids.</em>{% endif %} {% if session.logged_in %} {% if flag.made_bid is sameas true %}
<h4>Update your bid:</h4>
<form action="{{ url_for('update_bid', user_email = session.user_email, post_id = post.id) }}" , method=post class=add-entry>
    <dt>Bid amount:
        <input type=number name=offer rows=5 cols=40>
        <dd>
            <input type=submit value="Update">
            </dl>
            {% else %}
            <h4>Make a bid:</h4>
            <form action="{{ url_for('add_bid', post_id = post.id) }}" , method=post class=add-entry>
                <dt>Bid amount:
                    <input type=number name=offer rows=5 cols=40>
                    <dd>
                        <input type=submit value="Submit">
                        </dl>
            </form>
            {% endif %}{% endif %}{% endblock %}