{% extends "layout.html" %} {% block body %}
<h2 class=post-title>
    {{ post.title }}
</h2>
<div class=post-price>${{ post.price }}</div>
<div class=post-desc>{{ post.desc|safe }}</div>
<div class=post-user>Posted by: {{ post.name }}</div>
{% if session.logged_in and session.user_email == post.user_email %}
<a href="{{ url_for('delete_post', user_email = post.user_email, post_id = post.id) }}">Delete post</a> {% endif %}
<h4>Bids:</h4>
{% set flag = namespace(made_bid=false) %} {% if bids %}
<ul>{% for bid in bids %}
    <li>{{ bid.name }} offered {{ bid.offer }}. {% if session.logged_in and session.user_email == bid.user_email %} {% set flag.made_bid=true
        %}
        <a href="{{ url_for('delete_bid', user_email = bid.user_email, post_id = bid.post_id) }}">Delete my bid</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<em>No current bids.</em>{% endif %} {% if session.logged_in %} {% if flag.made_bid is sameas true %}
<h4>Update your bid:</h4>
<form action="{{ url_for('update_bid', user_email = session.user_email, post_id = post.id) }}" , method=post class=add-entry>
    <dt>Bid amount:
        <input type=number name=offer rows=5 cols=40>
        <dd>
            <input type=submit value="Update">
            </dl>
            {% else %}
            <h4>Make a bid:</h4>
            <form action="{{ url_for('add_bid', post_id = post.id) }}" , method=post class=add-entry>
                <dt>Bid amount:
                    <input type=number name=offer rows=5 cols=40>
                    <dd>
                        <input type=submit value="Submit">
                        </dl>
            </form>
            {% endif %}{% endif %}{% endblock %}