{% extends "layout.html" %} {% block body %}
<h2>All posts</h2>
<ul class=entries>
    {% for post in posts %}
    <li>
        <h2 class=post-title>
            <a href="{{ url_for('post_detail', id = post.id) }}">{{ post.title }}</a>
        </h2>
        <span class=post-price>${{ post.price }}</span>
        <div class=post-user>{{ post.name }}</div>
        <div class=post-desc>
            {{ post.description|safe }}
        </div>
        {% if post.no_bids > 1 %}
        <div class=no-bids>{{ post.no_bids }} bids</div>
        {% elif post.no_bids == 1 %}
        <div class=no-bids>{{ post.no_bids }} bid</div>
        {% endif %} {% else %}
        <em>Unbelievable. No posts here so far.</em>
        {% endfor %}
    </li>
</ul>
{% endblock %}