{% extends "layout.html" %} {% block body %} {% if session.logged_in %}
<form action="add_post" method=post class=add-entry>
    <dl>
        <dt>Title:
            <dd>
                <input type=text size=30 name=title>
                <dt>Description:
                    <dd>
                        <textarea name=desc rows=5 cols=40></textarea>
                        <dt>Price:
                            <dd>
                                <input type=number name=price rows=5 cols=40>
                                <dd>
                                    <input type=submit value="Create post">
    </dl>
</form>
{% endif %}
<h1>All posts</h1>
<ul class=entries>
    {% for post in posts %}
    <li>
        <h3 class=post-title>{{ post.title }}</h3>
        <div class=post-price>Price: {{ post.price }}</div>
        <div class=post-desc>Description: {{ post.desc|safe }}</div>
        {% if post.bids %}
        <h4>Bids:</h4>
        {% endif %} {% for bid in post.bids %}
        <ul>
            <li>User: {{ bid[0] }}, Offer: {{ bid[2] }}</li>
        </ul>
        {% endfor %} {% else %}
        <em>Unbelievable. No posts here so far.</em>
        {% endfor %}
</ul>
{% endblock %}