{% extends "layout.html" %} {% block body %} {% if activity %}
<h2 class=subheader>Top 5 most active users</h2>
<table>
    <thead>
        <th>User</th>
        <th>Number of posts made</th>
        <th>Number of bids accepted</th>
    </thead>
    <tbody>
        {% for row in activity %}
        <tr>
            <td>{{ row.poster }}</td>
            <td>{{ row.post_count }}</td>
            <td>{{ row.ab_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<span>Filter by :</span>
<a class=menubutton href="{{ url_for('show_posts', filter = 'most_active') }}">
    <button>Most active</button>
</a>
{% endif %}
<h2 class=subheader>{{ header }}</h2>
<ul class=entries>
    {% for post in posts %}
    <li>
        <h2 class=post-title>
            <a href="{{ url_for('post_detail', id = post.id) }}">{{ post.title }}</a>
        </h2>
        <span class=post-price>${{ post.price }}</span>
        <div class=post-user>{{ post.name }}</div>
        <div class=post-desc>
            {{ post.description|safe }}
        </div>
        {% if post.no_bids > 1 %}
        <div class=no-bids>{{ post.no_bids }} bids</div>
        {% elif post.no_bids == 1 %}
        <div class=no-bids>{{ post.no_bids }} bid</div>
        {% endif %} {% else %}
        <em>Unbelievable. No posts here so far.</em>
        {% endfor %}
    </li>
</ul>
{% endblock %}