{% extends "layout.html" %} {% block body %} {% if session.logged_in %}
<h1>Create new post</h1>
<form action="add_post" method=post class=add-entry>
    <dl>
        <dt>Title:
            <dd>
                <input type=text size=30 name=title>
                <dt>Description:
                    <dd>
                        <textarea name=desc rows=5 cols=40></textarea>
                        <dt>Price:
                            <dd>
                                <input type=number name=price rows=5 cols=40>
                                <dd>
                                    <input type=submit value="Create post">
    </dl>
</form>
{% endif %}
<h1>Your posts</h1>

{% if posts %}
<ul class=entries>
    {% for post in posts %}
    <li>
        <h3 class=post-title>
            <a href="{{ url_for('post_detail', id = post.id) }}">{{ post.title }}</a>
        </h3>
        <div class=post-price>${{ post.price }}</div>
        <div class=post-desc>{{ post.desc|safe }}</div>
        <div class=post-user>Posted by: {{ post.user_email }}</div>
        {% if post.no_bids > 1 %}
        <div class=no-bids>{{ post.no_bids }} bids</div>
        {% elif post.no_bids == 1 %}
        <div class=no-bids>{{ post.no_bids }} bid</div>
        {% endif %} {% if session.logged_in and session.user_email == user_email %}
        <a href="{{ url_for('delete_post', user_email = user_email, post_id = post.id) }}">Delete my post</a> {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<em>Unbelievable. No posts here so far.</em>
{% endif %} {% endblock %}